

<!-- <img src="https://contents.mediadecathlon.com/p1836954/k$311c819ab6dbc45b55b25855a81fbfb8/1200x0/1.91cr1/nosconseilsaquagym-aquafitness.jpg?format=auto" alt=""> -->

<div class="card bg-dark text-dark">
    <img src="https://contents.mediadecathlon.com/p1836954/k$311c819ab6dbc45b55b25855a81fbfb8/1200x0/1.91cr1/nosconseilsaquagym-aquafitness.jpg?format=auto" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">L'aquagym</h5>
      <p class="card-text">Réservez votre cours, dès maintenant</p>
      <p class="card-text">Disponible tous les matins de 9h à 10h</p>
    </div>
  </div>