
<div class="container">
<div class="cards">
    
    <div class="row row-cols-1 row-cols-md-3 g-4">                                
      <div class="col" *ngFor="let c of chambres;">        <!-- ng For = méthode/directive qui duplique le nombre de fois exact mon code html correspondant au nombre de "c" dans "chambres", chambres sui est le nom de mon tableau dans db.json -->
        <div class="card h-100">
          <img src={{c.image}} class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{c.title}}</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quod repellat aliquam officiis labore, pariatur eaque atque tempora molestiae fugit!</p>
            <a href="#" class="btn btn-primary">Réservez</a>
            <!-- ***************méthode  delete avec id de chambre en paramètre*********** -->
            <p class="btn btn-primary" (click)="delete(c.id)">delete</p>
          </div>
        </div>
      </div>
   </div>
  </div>
 