
<!-- <img src="https://resize-elle.ladmedia.fr/rcrop/638,,forcex/img/var/plain_site/storage/images/loisirs/sorties/bars/piano-bar/un-piano-bar-a-nice/61022452-1-fre-FR/Un-piano-bar-a-Nice.jpg" alt=""> -->

<div class="card bg-dark text-white">
    <img src="https://resize-elle.ladmedia.fr/rcrop/638,,forcex/img/var/plain_site/storage/images/loisirs/sorties/bars/piano-bar/un-piano-bar-a-nice/61022452-1-fre-FR/Un-piano-bar-a-Nice.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Le piano-bar</h5>
      <p class="card-text">Dans une ambiance Jazz, profitez du piano bar </p>
      <p class="card-text">Tous les soirs de 20h à 1h</p>
    </div>
  </div>