
     
<!-- Faire un tableau+++++++++++++++++++++++++++++++++ -->

<div class="container">
  <h3 class="text-center text-success m-5">Mes reservations de la semaine !</h3>

  <table class="table table table-striped table-hover">
    <thead>
      <tr class="text-warning">
        
        <th scope="col">Nom</th>
        <th scope="col">Date d'arrivée</th>
        <th scope="col">Nombre de jour prévu</th>
        <th scope="col">Nom de la chambre</th>
        <th scope="col">Prix de la chambre</th>
        <th scope="col">Total du prix</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reservations;"  [ngClass]="{'bg-success bg-opacity-10': r.confirme, 'bg-danger bg-opacity-50': !r.confirme }">     <!-- Faire une boucle à l'aide de ng For et [ngClass] sert à attribué une classe quand il y a une condition, la condition dans ce cas est créé grâce à l'ajout de"confirme: "" dans Json -->
        <td>{{r.userName}}</td>
        <td>{{r.arivalDate}}</td>
        <td>{{r.numberDays}}</td>
        <td>{{r.titleChambre}}</td>
        <td>{{r.price}}</td>
        <td>{{r.totalPrice}}</td>
        <td><button 

          type="button" class="btn btn-primary" (click)="changeStatus(r)">    <!-- méthode au click qui apelle la méthode changerStatus dans TS -->
          <strong *ngIf="r.confirme">Chambre réservée</strong>
          <strong *ngIf="!r.confirme">Chambre annulée </strong>
        </button></td>
      
      </tr>

      

    </tbody>
  </table>
</div>

