<!-- *************************************Navbar******************************** -->


<div class="row">
    <div id="barrenav">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">


                <a class="navbar-brand" href="#">Accueil</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">






                    <div class="col-10">


                        <ul class="navbar-nav">


                            <li class="nav-item">
                                <a class="nav-link" routerLink="/chambres">Chambres</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Restaurant
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Petit-déjeuner</a></li>
                                    <li><a class="dropdown-item" href="#">Déjeuner</a></li>
                                    <li><a class="dropdown-item" href="#">Dînner</a></li>
                                </ul>
                            </li>



                        </ul>

                    </div>





                    <div class="col-2 ms-5">


                        <ul class="navbar-nav me-auto ms-5 mb-lg-2">
                            <li class="nav-item dropdown">
                                <a class="btn btn-light nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Administrateur
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item"  routerLink="/reservations">Annulation</a></li>
                                    <li><a class="dropdown-item" routerLink="/ajouterunechambre" >Ajouter une chambre</a></li>
                                </ul>
                            </li>
                        </ul>




                    </div>
              

                    











                </div>






            </div>
        </nav>

    </div>


</div>

<!-- ********************************************* Fin navbar******************************** -->