<!-- *************************************Navbar******************************** -->


<div class="row">
    <div id="barrenav" class="py-3 border border-dark border-top-0">
        <nav class="navbar navbar-expand-lg bg-link">
            <div class="container-fluid">

                <div class="fs-2">H O T E L  &nbsp; M A S S I L I A</div>
                <a class="navbar-brand ms-5" href="#">&nbsp; L'hôtel &nbsp;</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">






                    <div class="col-10">


                        <ul class="navbar-nav">


                            <li class="nav-item mt-1">
                                <a class="navbar-brand ms-5" routerLink="/chambres">&nbsp; Les chambres &nbsp;</a>
                            </li>

                            <li class="nav-item mt-1 ms-5">
                                <a class="navbar-brand" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">&nbsp; Les activités &nbsp;</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#" routerLink="/randonnees">Les randonnées</a></li>
                                    <li><a class="dropdown-item" href="#" routerLink="/piano-bar">Le piano bar</a></li>
                                    <li><a class="dropdown-item" href="#" routerLink="/aquagym">L'aquagym</a></li>
                                </ul>
                            </li>



                        </ul>

                    </div>




                    
                    <div class="col-2 ms-5">

                        
                        <ul class="navbar-nav me-auto ms-3 mb-lg-2">
                           
                            <li class="nav-item dropdown">
                               
                                <a class="btn btn-light nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Administrateur
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item"  routerLink="/reservations">Gestion des réservations</a></li>
                                    <li><a class="dropdown-item" routerLink="/ajouterunechambre" >Ajouter une chambre</a></li>
                                </ul>
                            </li>
                        </ul>




                    </div>
              

                    











                </div>






            </div>
        </nav>

    </div>


</div>

<!-- ********************************************* Fin navbar******************************** -->